---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: engineerbetter/pcf-ops
    tag: latest
inputs:
- name: concourse-up
- name: concourse-bosh-release
- name: concourse-stemcell
- name: director-stemcell
- name: director-bosh-release
- name: director-bosh-cpi-release
- name: riemann-release
- name: grafana-release
- name: influxdb-release
- name: uaa-release
- name: credhub-release

outputs:
- name: compilation-vars

run:
  path: concourse-up/ci/tasks/compile-bosh-releases.sh

params:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_DEFAULT_REGION:
  PUBLIC_ARTIFACTS_BUCKET:
  BOSH_USERNAME:
  BOSH_PASSWORD:
  BOSH_CA_CERT:
  BOSH_TARGET: